@import "tailwindcss";

:root {
  --background: oklch(0.9252 0.0094 62.58);
  --foreground:oklch(0.1559 0.0074 102.71);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}

@media (prefers-color-scheme: dark) {
  :root {
  color-scheme: dark;
  --background: oklch(0.1559 0.0074 102.71);
  --foreground:oklch(0.9252 0.0094 62.58);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}



.root {
  isolation: isolate;
}

html,
body {
  overscroll-behavior: none;
}

.font-card:focus-visible {
  outline: none;
  z-index: 1;
}
